<p id="notice"><%= notice %></p>

<h1>Adverts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.title %></td>
        <td><%= advert.message %></td>
        <td><%= advert.user.email %></td>
        <td><%= link_to 'Show', advert %></td>
        <% if user_signed_in? && advert.user == current_user %>
        <% end %>
          <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
          <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
